* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #1a1a1a;
    background-color: #F6F7F8;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
    font-size: 12px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.info-form {
    margin-top: 80px;
    width: 960px;
    margin-left: auto;
    padding: 50px;

    background-color: inherit;
}

h1 {
    text-align: start;
    margin-bottom: auto;
    height: 120px;
    padding: 10px;
}

.intro-statement {
    padding: 15px;
    font-size: 24px;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color:#FFFFFF;
}

.form-row-horz {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.form-row {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    justify-content: center;
    gap: 10px;
}

.form-row > label {
=======
    width: 100%;
    gap: 10px;
    justify-content: center;
}

.form-row .form-row-horz {
    flex: 1;
}

.form-row .form-row-horz input {
    width: 50%;
}

/* .form-row > label {
    flex: 2;
>>>>>>> new-class

}

.form-row > input {
<<<<<<< HEAD
    width: 100%;
}
=======
    flex: 3;
} */
>>>>>>> new-class

.form-row-2 {
    
}


.form-row input[id="password"] {
    border: 1px solid #D55C5F;
}

.form-row-footnote {
    margin-top: auto;
    height: 50px;
}

button {
    background-color: #1a1a1a;
    color: #FFFFFF;

    margin-top: 25px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    border: none;
}

fieldset {
    border: none;
}

