* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #1a1a1a;
    background-color: #F6F7F8;
    font-family: sans-serif;
    line-height: 1.3;
    font-size: 12px;

    display: flex;
    min-height: 100vh;
}

.picture {
    flex-direction: column;
    min-height: 100vh;
}

img {
    width: 480px;
    height: 100%;
}

.info-form {
    flex-direction: column;
    justify-content: center;
    padding: 70px;
    min-height: 100vh;

    background-color: inherit;
    box-shadow: -8px 0 6px -8px rgba(0,0,0,0.8);
}

h1 {
    text-align: start;
    padding-right: 20px; 
    padding-bottom: 20px;
}

.intro-statement {
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: bolder;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color:#FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.form-row-horz {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form-row-horz .form-row  {
    flex: 1;
}

.form-row {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.form-row label {
    font-weight: bold;
    font-size: 12px;
}

.form-row input {
    padding: 2px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.form-row input + span {
  position: relative;
}

.form-row input:focus {
    border: 2px solid dodgerblue;
    box-shadow: 2px 2px 5px lightgray;
}

.form-row input + span::before {
  position: absolute;
  left: -15px;
  bottom: 5px;
}

.form-row input:invalid {
    border: 2px solid red;
}

.form-row input[id="password"]:valid {
    border: 2px solid green;
}

.form-row input:invalid + span::before {
    content: "✘";
    color: red;
}

.form-row input:valid + span::before {
    content: "✔︎";
    color: green;
}


button {
    background-color: #1a1a1a;
    color: #FFFFFF;

    margin-top: 25px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:focus {
    box-shadow: 2px 2px 5px lightgray;
}


.acct-message {
    padding-top: 8px;
}

fieldset {
    border: none;
}

