* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    background-color: #EAEDF0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
    font-size: 12px;

    display: flex;
    flex-direction: column;
}

.info-form {
    width: 100%;
    margin-left: auto;

    background-color: #F6F7F8;
}

.intro-message {
    font-size: 24px;
    padding: 5px;
}

.form-row {
    padding: 10px;
}

.form-row label {
    /* Brought in from speaker-submission */
    text-align: right;
    width: 120px;
    margin-top: 7px;
    padding-right: 20px;
}

.form-row input {
    border: 2px solid lightgrey;
    border-radius: 4px;
}

.form-row input[id="password"] {
    border: 1px solid #D55C5F;
}

