* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    background-color: #EAEDF0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
    font-size: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

form legend {
    text-align: center;
    font-size: 24px;
}

.acct-message {
    text-align: center;
}

.form-row {
    flex-grow: 1;
    flex-basis: 120px;

    padding: 10px;
    background-color: #F6F7F8;
}

.form-row label {
    /* Brought in from speaker-submission */
    text-align: right;
    width: 120px;
    margin-top: 7px;
    padding-right: 20px;
}

.form-row input {
    width: 200px;
    border: 2px solid lightgrey;
    border-radius: 4px;
}

.form-row input[id="password"] {
    border: 1px solid #D55C5F;
}

