* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    background-color: #EAEDF0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
    font-size: 12px;

    display: flex;
}

